<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Confirmation<%= orderId %></title>
</head>
<body>
    <h2>Danke für deine Bestellung Nr.: <%= orderId %></h2>

    <div>
        <% orderedProducts.forEach(function(product) { %>
            <div class="product">
                <%= product.productName %>
            </div>
        <% }) %>
    </div>
</body>
</html>