<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/dummyProduct.css">
    <title>Vielen Dank für Ihren Einkauf</title>
</head>
<body>
    <div class="header-bar">
        <div class="header-bar__element dummy-product-link">
            <a href="/demoshop">Dummy-Produkt</a>
        </div>
        <div class="header-bar__element">
            <a href="/demoshop/shoppingCart">Warenkorb</a>
        </div>
    </div>
    <hr/>
    <h2>Vielen Dank für Ihren Einkauf.</h2>
    <p>Ihre Bestellnummer lautet: <%= orderId %></p>
    <h4>Bestellte Produkte:</h4>
    <ul>
        <% orderedProducts.forEach(function(product) { %>
            <li><%= product.productName%></li>
        <% }) %>
    </ul>

</body>
</html>